{erl_opts, [debug_info, warnings_as_errors]}.
{src_dirs, [{"src", [{recursive, true}]}]}.
{shell, [{config, "./config/dev_sys.config.src"}]}.

{deps, [
    nova,
    {gakudan, {git, "https://github.com/Taure/gakudan.git", {tag, "v0.1.3"}}},
    {gakudan_tickets, {git, "https://github.com/Taure/gakudan_tickets.git", {tag, "v0.1.0"}}},
    {gakudan_tickets_github,
        {git, "https://github.com/Taure/gakudan_tickets_github.git", {tag, "v0.1.1"}}},
    {gakudan_metrics, {git, "https://github.com/Taure/gakudan_metrics.git", {tag, "v0.1.2"}}}
]}.

{relx, [
    {release, {triagebot, git}, [
        triagebot,
        sasl
    ]},
    {mode, dev},
    {sys_config_src, "./config/dev_sys.config.src"},
    {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {sys_config_src, "./config/prod_sys.config.src"}
        ]}
    ]},
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {deps, []}
    ]}
]}.

{overrides, [
    {override, prometheus, [{erl_opts, [debug_info]}]},
    {override, prometheus_cowboy, [{erl_opts, [debug_info]}]},
    {override, prometheus_httpd, [{erl_opts, [debug_info]}]}
]}.

{project_plugins, [
    erlfmt,
    rebar3_lint,
    rebar3_hank,
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}},
    covertool
]}.

{erlfmt, [write]}.

{hank, [
    {ignore, [
        "test/**",
        {"src/controllers/triagebot_health_controller.erl", [unnecessary_function_arguments]}
    ]}
]}.

{dialyzer, [
    {warnings, [error_handling, unmatched_returns, unknown]},
    {plt_apps, all_deps}
]}.

{xref_checks, [undefined_function_calls, undefined_functions]}.

{ct_opts, [{dir, "test"}]}.

{cover_enabled, true}.
